*{margin: 0; padding: 0;}

.is-ios * {
    cursor: pointer;
}

body{
    width: 100vw;
    height: 100vh;
}

div{
    box-sizing: border-box
}

.centered{
    position: absolute;
    left: 50%; top:  50%;
    transform: translate(-50%, -50%)
}
